<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tt.mapper.AccountMapper">
    
    <resultMap type="Account" id="AccountResult">
        <result property="accountId"    column="account_id"    />
        <result property="mechantId"    column="mechant_id"    />
        <result property="mechShow"  column="mech_show"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceShow"    column="device_show"    />
        <result property="followNumber" column="follow_number"></result>
        <result property="accountNo"    column="account_no"    />
        <result property="accountName"    column="account_name"    />
        <result property="accountImgUrl"    column="account_img_url"    />
        <result property="accountChannel"    column="account_channel"    />
        <result property="accountStatus"    column="account_status"    />
        <result property="accountMemo1"    column="account_memo1"    />
        <result property="accountMemo2"    column="account_memo2"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAccountVo">
        select account_id,
               mechant_id,(select mech.mech_name from tt_mechant  mech where mech.mech_id = acc.mechant_id) mech_show,
               device_id, (select devi.device_name from tt_device  devi where devi.device_id = acc.device_id) device_show,
               follow_number,account_no, account_name, account_img_url, account_channel, account_status, account_memo1, account_memo2, create_by, create_time, update_by, update_time from tt_account acc
    </sql>

    <select id="selectAccountList" parameterType="Account" resultMap="AccountResult">
        <include refid="selectAccountVo"/>
        <where>  
            <if test="mechantId != null "> and mechant_id = #{mechantId}</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="accountNo != null  and accountNo != ''"> and account_no = #{accountNo}</if>
            <if test="accountName != null  and accountName != ''"> and account_name like concat('%', #{accountName}, '%')</if>
            <if test="accountImgUrl != null  and accountImgUrl != ''"> and account_img_url = #{accountImgUrl}</if>
            <if test="accountChannel != null  and accountChannel != ''"> and account_channel = #{accountChannel}</if>
            <if test="accountStatus != null  and accountStatus != ''"> and account_status = #{accountStatus}</if>
            <if test="accountMemo1 != null  and accountMemo1 != ''"> and account_memo1 = #{accountMemo1}</if>
            <if test="accountMemo2 != null  and accountMemo2 != ''"> and account_memo2 = #{accountMemo2}</if>
        </where>
    </select>
    
    <select id="selectAccountByAccountId" parameterType="Long" resultMap="AccountResult">
        <include refid="selectAccountVo"/>
        where account_id = #{accountId}
    </select>
    <select id="selectAccount" parameterType="Account" resultMap="AccountResult">
        <include refid="selectAccountVo"/>
        where
          account_no = #{accountNo}
          and mechant_id = #{mechantId}
          and account_channel = #{accountChannel}
    </select>

    <insert id="insertAccount" parameterType="Account">
        insert into tt_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">account_id,</if>
            <if test="mechantId != null">mechant_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="accountNo != null">account_no,</if>
            <if test="followNumber != null">follow_number,</if>
            <if test="accountName != null">account_name,</if>
            <if test="accountImgUrl != null">account_img_url,</if>
            <if test="accountChannel != null">account_channel,</if>
            <if test="accountStatus != null">account_status,</if>
            <if test="accountMemo1 != null">account_memo1,</if>
            <if test="accountMemo2 != null">account_memo2,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">#{accountId},</if>
            <if test="mechantId != null">#{mechantId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="accountNo != null">#{accountNo},</if>
            <if test="followNumber != null">#{followNumber},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="accountImgUrl != null">#{accountImgUrl},</if>
            <if test="accountChannel != null">#{accountChannel},</if>
            <if test="accountStatus != null">#{accountStatus},</if>
            <if test="accountMemo1 != null">#{accountMemo1},</if>
            <if test="accountMemo2 != null">#{accountMemo2},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAccount" parameterType="Account">
        update tt_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="mechantId != null">mechant_id = #{mechantId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="accountNo != null">account_no = #{accountNo},</if>
            <if test="followNumber != null">follow_number = #{followNumber},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="accountImgUrl != null">account_img_url = #{accountImgUrl},</if>
            <if test="accountChannel != null">account_channel = #{accountChannel},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="accountMemo1 != null">account_memo1 = #{accountMemo1},</if>
            <if test="accountMemo2 != null">account_memo2 = #{accountMemo2},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where account_id = #{accountId}
    </update>

    <delete id="deleteAccountByAccountId" parameterType="Long">
        delete from tt_account where account_id = #{accountId}
    </delete>

    <delete id="deleteAccountByAccountIds" parameterType="String">
        delete from tt_account where account_id in 
        <foreach item="accountId" collection="array" open="(" separator="," close=")">
            #{accountId}
        </foreach>
    </delete>

</mapper>