<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tt.mapper.MechantMapper">
    
    <resultMap type="Mechant" id="MechantResult">
        <result property="mechId"    column="mech_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parMechName"  column="par_mech_name"    />
        <result property="mechName"    column="mech_name"    />
        <result property="mechNo"    column="mech_no"    />
        <result property="mechPhone"    column="mech_phone"    />
        <result property="mechMemo"    column="mech_memo"    />
        <result property="mechStatus"    column="mech_status"    />
        <result property="mechType"    column="mech_type"    />
        <result property="mechChannel"    column="mech_channel"    />
        <result property="mechMemo1"    column="mech_memo1"    />
        <result property="mechMemo2"    column="mech_memo2"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMechantVo">
        select mech_id, parent_id,
               (select par.mech_name from tt_mechant  par where par.mech_id = mech.parent_id) par_mech_name,
               mech_name, mech_no, mech_phone, mech_memo, mech_status, mech_type,mech_channel,
        mech_memo1, mech_memo2, create_by, create_time, update_by, update_time from tt_mechant mech
    </sql>

    <select id="selectMechantList" parameterType="Mechant" resultMap="MechantResult">
        <include refid="selectMechantVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="mechName != null  and mechName != ''"> and mech_name like concat('%', #{mechName}, '%')</if>
            <if test="mechNo != null  and mechNo != ''"> and mech_no = #{mechNo}</if>
            <if test="mechPhone != null  and mechPhone != ''"> and mech_phone = #{mechPhone}</if>
            <if test="mechMemo != null  and mechMemo != ''"> and mech_memo = #{mechMemo}</if>
            <if test="mechStatus != null  and mechStatus != ''"> and mech_status = #{mechStatus}</if>
            <if test="mechType != null  and mechType != ''"> and mech_type = #{mechType}</if>
            <if test="mechChannel != null "> and mech_channel = #{mechChannel}</if>
            <if test="mechMemo1 != null  and mechMemo1 != ''"> and mech_memo1 = #{mechMemo1}</if>
            <if test="mechMemo2 != null  and mechMemo2 != ''"> and mech_memo2 = #{mechMemo2}</if>
        </where>
    </select>
    
    <select id="selectMechantByMechId" parameterType="Long" resultMap="MechantResult">
        <include refid="selectMechantVo"/>
        where mech_id = #{mechId}
    </select>

    <insert id="insertMechant" parameterType="Mechant">
        insert into tt_mechant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mechId != null">mech_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="mechName != null">mech_name,</if>
            <if test="mechNo != null">mech_no,</if>
            <if test="mechPhone != null">mech_phone,</if>
            <if test="mechMemo != null">mech_memo,</if>
            <if test="mechStatus != null">mech_status,</if>
            <if test="mechType != null">mech_type,</if>
            <if test="mechChannel != null">mech_channel,</if>
            <if test="mechMemo1 != null">mech_memo1,</if>
            <if test="mechMemo2 != null">mech_memo2,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mechId != null">#{mechId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="mechName != null">#{mechName},</if>
            <if test="mechNo != null">#{mechNo},</if>
            <if test="mechPhone != null">#{mechPhone},</if>
            <if test="mechMemo != null">#{mechMemo},</if>
            <if test="mechStatus != null">#{mechStatus},</if>
            <if test="mechType != null">#{mechType},</if>
            <if test="mechChannel != null">#{mechChannel},</if>
            <if test="mechMemo1 != null">#{mechMemo1},</if>
            <if test="mechMemo2 != null">#{mechMemo2},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateMechant" parameterType="Mechant">
        update tt_mechant
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="mechName != null">mech_name = #{mechName},</if>
            <if test="mechNo != null">mech_no = #{mechNo},</if>
            <if test="mechPhone != null">mech_phone = #{mechPhone},</if>
            <if test="mechMemo != null">mech_memo = #{mechMemo},</if>
            <if test="mechStatus != null">mech_status = #{mechStatus},</if>
            <if test="mechType != null">mech_type = #{mechType},</if>
            <if test="mechChannel != null">mech_channel = #{mechChannel},</if>
            <if test="mechMemo1 != null">mech_memo1 = #{mechMemo1},</if>
            <if test="mechMemo2 != null">mech_memo2 = #{mechMemo2},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where mech_id = #{mechId}
    </update>

    <delete id="deleteMechantByMechId" parameterType="Long">
        delete from tt_mechant where mech_id = #{mechId}
    </delete>

    <delete id="deleteMechantByMechIds" parameterType="String">
        delete from tt_mechant where mech_id in 
        <foreach item="mechId" collection="array" open="(" separator="," close=")">
            #{mechId}
        </foreach>
    </delete>

</mapper>