<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('关注信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>被关注者昵称：</label>
                                <input type="text" name="noticeName"/>
                            </li>
                            <li>
                                <label>被关注者头像：</label>
                                <input type="text" name="noticeImgRul"/>
                            </li>
                            <li>
                                <label>被关注者区域：</label>
                                <input type="text" name="noticeLocation"/>
                            </li>
                            <li>
                                <label>0--释放是否被关注或者回关：</label>
                                <input type="text" name="noticeFlag"/>
                            </li>
                            <li>
                                <label>所属账号：</label>
                                <input type="text" name="ownNo"/>
                            </li>
                            <li>
                                <label>所属昵称：</label>
                                <input type="text" name="ownName"/>
                            </li>
                            <li>
                                <label>所属头像：</label>
                                <input type="text" name="ownImgUrl"/>
                            </li>
                            <li>
                                <label>设备id：</label>
                                <input type="text" name="deviceId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="tt:notice:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="tt:notice:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="tt:notice:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="tt:notice:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('tt:notice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('tt:notice:remove')}]];
        var prefix = ctx + "tt/notice";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "关注信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'mechShow',
                    title: '所属商户',
                },
                {
                    field: 'channelPackage',
                    title: '来源渠道',
                },
                {
                    field: 'noticeNo',
                    title: '被关注者账号',
                    visible: false
                },

                    {
                        field: 'deviceShow',
                        title: ''
                    },
                {
                    field: 'noticeName',
                    title: '被关注者昵称'
                },
                {
                    field: 'noticeImgRul',
                    title: '被关注者头像'
                },
                {
                    field: 'noticeLocation',
                    title: '被关注者区域'
                },
                {
                    field: 'noticeFlag',
                    title: '0--释放是否被关注或者回关'
                },
                {
                    field: 'ownNo',
                    title: '所属账号'
                },
                {
                    field: 'ownName',
                    title: '所属昵称'
                },
                {
                    field: 'ownImgUrl',
                    title: '所属头像'
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.noticeNo + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.noticeNo + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>