<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-device-add" th:object="${device}">
            <input name="mechOwn" type="hidden" id="mechOwn"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">所属者：</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input name="mechOwnName" onclick="selectMechTree()" id="treeName" type="text"
                               placeholder="请选择所属者" class="form-control" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">编码：</label>
                <div class="col-sm-4">
                    <input name="deviceNo" class="form-control" type="text" required maxlength="40">
                </div>
                <label class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-4">
                    <input name="deviceName" class="form-control" type="text" required maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态：</label>
                <div class="col-sm-4">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
                </div>
                <label class="col-sm-2 control-label">设备激活日期： </label>
                <div class="col-sm-4">
                    <input style="display:inline-block;width: 100px" class="form-control time-input" id="startTime" placeholder="开始日期" name="deviceStartTime"/>
                    <span>-</span>
                    <input style="display:inline-block;width: 100px" class="form-control time-input" id="endTime" placeholder="结束日期" name="deviceEndTime"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">每日关注数量：</label>
                <div class="col-sm-4">
                    <input name="followNumber" th:value="${device.followNumber}" class="form-control" type="number" maxlength="8" required>
                </div>
                <label class="col-sm-2 control-label">关注速度(秒)：</label>
                <div class="col-sm-4">
                    <input name="followMinSpeed" style="display:inline-block;width: 100px" th:value="${device.followMinSpeed}" class="form-control" type="number" maxlength="8" required>
                    <span>-</span>
                    <input name="followMaxSpeed" style="display:inline-block;width: 100px" th:value="${device.followMaxSpeed}" class="form-control" type="number" maxlength="8" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">休眠需关注数：</label>
                <div class="col-sm-4">
                    <input name="followSleepCount" th:value="${device.followSleepCount}" class="form-control" type="number" maxlength="8" required>
                </div>
                <label class="col-sm-2 control-label">休眠时间(秒)：</label>
                <div class="col-sm-4">
                    <input name="followSleepTime" th:value="${device.followSleepTime}" class="form-control" type="number" maxlength="8" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">关注性别：</label>
                <div class="col-sm-4">
                    <select name="followSex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{followSex}"></option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">关注年龄：</label>
                <div class="col-sm-4">
                    <input name="followMinAge" style="display:inline-block;width: 100px" th:value="${device.followMinAge}" class="form-control" type="number" required>
                    <span>-</span>
                    <input name="followMaxAge" style="display:inline-block;width: 100px" th:value="${device.followMaxAge}" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">匹配昵称(,分隔)：</label>
                <div class="col-sm-8">
                    <input name="followMatchNickname" th:value="${device.followMatchNickname}" class="form-control" type="text" maxlength="100" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">匹配签名(,分隔)：</label>
                <div class="col-sm-8">
                    <input name="followMatchSignature" th:value="${device.followMatchSignature}" class="form-control" type="text" maxlength="100" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">匹配评论(,分隔)：</label>
                <div class="col-sm-8">
                    <input name="followMatchComment" th:value="${device.followMatchComment}" class="form-control" type="text" maxlength="100" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "tt/device"
        $("#form-device-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-device-add").serializeArray();
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                data.push({"name": "deviceStatus", "value": status});
                $.operate.save(prefix + "/add", data);
            }
        }
        /* 用户管理-新增-选择商户树 */
        function selectMechTree () {
            var mechOwn = $("#mechOwn").val();
            mechOwn = $.common.isEmpty(mechOwn) ? "0" : mechOwn;
            var url = ctx + "tt/device/selectMechTree/" + mechOwn;
            var options = {
                title: '选择所属者',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var body = $.modal.getChildFrame(index);
            $("#mechOwn").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            $.modal.close(index);
        }
    </script>
</body>
</html>