<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mechant-add">
            <input name="parentId" class="form-control" type="hidden" th:value="${mechant.parentId}" >
            <div class="form-group" th:if="${mechant.parentId!=0}">
                <label class="col-sm-2 control-label">所属商户：</label>
                <div class="col-sm-4">
                    <input class="form-control" th:value="${mechant.parMechName}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">编号(登录)：</label>
                <div class="col-sm-4">
                    <input name="mechNo" class="form-control" type="text" maxlength="20">
                </div>
                <label class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-4">
                    <input name="mechName" class="form-control" type="text" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态：</label>
                <div class="col-sm-4">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group" th:if="${mechant.parentId==0}">
                <label class="col-sm-2 control-label">渠道：</label>
                <div class="col-sm-10">
                    <label th:each="dict:${@dict.getType('tt_channel_package')}" class="check-box">
                        <input name="channels" type="checkbox" th:value="${dict.dictValue}" th:text="${dict.dictLabel}">
                    </label>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-4">
                    <input name="mechPhone" class="form-control" type="number" maxlength="11">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">备注信息：</label>
                <div class="col-sm-10">
                    <input name="mechMemo" class="form-control" type="text" maxlength="80">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "tt/mechant"
        $("#form-mechant-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-mechant-add").serializeArray();
                var channels = $.form.selectCheckeds("channels");
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                data.push({"name": "channels", "value": channels});
                data.push({"name": "mechStatus", "value": status});
                $.operate.save(prefix + "/add", data);
            }
        }
    </script>
</body>
</html>