<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('账号信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>账号：</label>
                                <input type="text" name="accountNo"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="mechType" th:with="type=${@dict.getType('tt_account_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="tt:account:add">-->
<!--                    <i class="fa fa-plus"></i> 添加-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="tt:account:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="tt:account:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="tt:account:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('tt:account:edit')}]];
        var removeFlag = [[${@permission.hasPermi('tt:account:remove')}]];
        var prefix = ctx + "tt/account";
        var accountStatuss = [[${@dict.getType('tt_account_status')}]];
        var channels = [[${@dict.getType('tt_channel_package')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "账号信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'mechShow',
                    title: '商户',
                },
                {
                    field: 'deviceShow',
                    title: '设备'
                },
                {
                    field: 'accountChannel',
                    title: '账号渠道',
                    formatter: function(value, row) {
                        return $.table.selectDictLabel(channels, row.accountChannel);
                    }
                },
                {
                    field: 'accountNo',
                    title: '账号'
                },
                {
                    field: 'accountName',
                    title: '账号昵称'
                },
                {
                    field: 'followNumber',
                    title: '每日关注数量'
                },
                {
                    field: 'accountImgUrl',
                    title: '账号头像',
                    formatter: function (value){
                        return "<div style=\"width: 100%;text-align: left\" title='点我查看大图' onclick='showImg(\""+value+"\")'>" +
                            "<img  height='27'  src='" + value + "'></div>";
                    }
                },
                {
                    field: 'accountStatus',
                    title: '账号状态',
                    formatter: function(value, row) {
                        return $.table.selectDictLabel(accountStatuss, row.accountStatus);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.accountId + '\')"><i class="fa fa-edit"></i>修改关注数量</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.accountId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
                ]
            };
            $.table.init(options);
        });
        function showImg(path){
            var img=new Image();
            img.src = path;
            img.onload= function(){
                var height = img.height;
                if(height > 400){
                    height = 400;
                }
                var width = img.width * (height/img.height);
                layer.open({
                    type: 1,
                    maxmin:true,
                    shade: false,
                    title: false, //不显示标题
                    area: [width + 'px', height+'px'],
                    content: "<img height='100%' src='" + path + "' />", //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                    cancel: function () {
                        //layer.msg('图片查看结束！', { time: 5000, icon: 6 });
                    }
                });
            }
        }
    </script>
</body>
</html>