<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改应用参数配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-config-edit" th:object="${appConfig}">
            <input name="deviceId" th:field="*{deviceId}" type="hidden">
            <input name="mechId" th:field="*{mechId}" type="hidden">
            <input name="channelPackage" th:field="*{channelPackage}" type="hidden">
            <div class="form-group">
                <label class="col-sm-2 control-label">商户：</label>
                <div class="col-sm-4">
                    <input name = "mechShow" th:field="*{mechShow}" class="form-control" readonly>
                </div>
                <label class="col-sm-2 control-label">设备：</label>
                <div class="col-sm-4">
                    <input name = "deviceShow" th:field="*{deviceShow}" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">渠道：</label>
                <div class="col-sm-4">
                    <select class="form-control m-b" th:with="type=${@dict.getType('tt_channel_package')}" disabled="disabled">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{channelPackage}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标签：</label>
                <div class="col-sm-4">
                    <input name="appConfigLabel" th:field="*{appConfigLabel}" class="form-control" readonly>
                </div>
                <label class="col-sm-2 control-label">代码：</label>
                <div class="col-sm-4">
                    <input name="appConfigCode"  th:field="*{appConfigCode}" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">值：</label>
                <div class="col-sm-10">
                    <input name="appConfigValue" th:field="*{appConfigValue}" class="form-control" type="text" maxlength="100" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">顺序：</label>
                <div class="col-sm-4">
                    <input name="appConfigSort" th:field="*{appConfigSort}" class="form-control" type="number" maxlength="3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-10">
                    <input name="appConfigMemo" th:field="*{appConfigMemo}" class="form-control" type="text" maxlength="100">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "tt/config";
        $("#form-config-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-config-edit').serialize());
            }
        }
    </script>
</body>
</html>