<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('我的设备连接信息')" />
</head>
<body class="gray-bg">
     <div class="container-div">

    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var ws = null;
        $(function() {
            var url = "ws://127.0.0.1:80/websocket/message"
            ws = new WebSocket(url);
            //连接
            ws.onopen = function(event) {
                console.log("已经打开连接!")
            }
            ws.onmessage = function(event) {
                console.log("接收消息!"+event.data + '\n')
            }
            ws.onclose = function(event) {
                console.log("已经关闭连接!")
            }
        });


        // // 发送消息
        // if (ws) {
        //     ws.send(message);
        // } else {
        //     alert("未连接到服务器");
        // }
        //
        // //断开
        // if (ws) {
        //     ws.close();
        //     ws = null;
        // }

    </script>
</body>
</html>